/*
 * author:mcf
 * time:2016-6-27
 * description:样式
 */
body{
	font-family: "Comic Sans MS","幼圆","黑体","sans-serif";
	color:#fff;
	font-size: 16px;
	background: #fff;
}
body,html{
	width:100%;height:100%;
	margin:0;padding:0;
}
::selection{
	background: #DC6561;
	color:#fff;
}

/*导航条*/
#top .navbar,#top .navbar.navbar-default{
	background: rgba(0,0,0,0.2);
}


/*公用样式*/
.page{
	width:100%;
	padding:10% 0;
}
.page:nth-of-type(1){
	background-image: -webkit-linear-gradient(117deg,#23aab8,#172a73);
}
.page:nth-of-type(2){
	background-color: #F3F6FA;
}
.page:nth-of-type(3){
	background-color: #FFFFFF;
}

.page:nth-of-type(4){
	background-color: #F3F6FA;
}
.page:nth-of-type(5){
	background-color: #FFFFFF;
}
.page:nth-of-type(6){
	background-color: #F3F6FA;
}
.page:nth-of-type(7){
	    background-image: linear-gradient(117deg,#23aab8,#172a73);
}
/*首页*/
#page_1 .jumbotron{
	text-align: center;
	background-color: transparent;
	box-shadow: none;
}
/*topSection*/
#topSection{
	padding:2% 0;
	font-size:40px;
	/*background-color: #F3F6FA;*/
}
#topSection .unity{
	color:#DC6561;
}
#topSection .creativity{
	color:#35B558;
}
#topSection .initiative{
	color:#A152BC;
}
#topSection .socialSkill{
	color:#03A9F4;
}
#topSection .icon-text{
	font-size:25px;
	font-weight:bold;
}
#topSection  span.glyphicon{
	transition:all 0.5s linear;
}
#topSection  span.glyphicon:hover{
	transform: scale(1.5) ;
}


/*团队简介*/
#page_2{
	padding: 2% 0;
	background: #FCFCFC;
}
#page_2 h1{
	color: #666;
	text-align: center;
	padding-bottom: 2%;
}
#introduce{
	padding: 2% 1.5%;
	color: #999;
	border: 1px solid #e6edf3;
	border-radius: 6px;
}
#introduce:hover{
	border: 1px solid #0FB2FC;
}
#introduce h1{
	text-shadow: 2px 2px 5px #999;
}
#introduce p{
	color: #000;
	text-indent: 1.8em;
	font-size: 1em;
	line-height: 30px;
}
/*工作环境*/
#page_3{
	padding: 2% 0;
}
#page_3 h1{
	color: #666;
	text-align: center;
}
/*团队成员*/
#page_5{
	padding: 1% 0;
}
#page_5 h1{
	color: #666;
	text-align: center;
}
.member{
	margin-top: .5em;
	padding: 1%;
	color: #666;
	border: 1px solid #ccc;
	transition: all 0.5s ease; 
	cursor: pointer;
	position: relative;
}
.member:hover{
	outline: 1px solid #0FB2FC;
	box-shadow: 0 0 5px #0FB2FC;
	transition: all 0.5s ease; 
}
.member img{
	border: none;
	transition: all 0.5s ease; 
	position: relative;
}
.member .layer{
	width: 0%;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: absolute;
	left:0;
	top: 0;
	opacity: 0;
	transition: all 0.5s ease; 
}
.member:hover .layer{
	width: 100%;
	opacity: 1;
	transition: all 0.5s ease; 
}


/*报名*/
#page_6{
	padding:5% 2% 0%;
	font-size:25px;
	color:#fff;
	font-weight:bold;
}
#page_6 .form-control,#page_6 legend,#page_6 .form-group .checkbox label,#page_6 .help-block{
	color:#fff;
}
#page_6 .checkbox .checkbox-material .check{
	border: 2px solid rgba(255,255,255,0.8);
}
/*底部版权*/
#footer{
	/*background-image: linear-gradient(90deg,#208AA6,#172B73);*/
	font-size:16px;
	margin-top:2%;
	font-weight: normal;
}
